@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

*{
    font-family: 'Jura';
    color:white;
}

body,
html {
    height: 100%;
    margin: 0px;
    background-color: #1E1E1E;
}

.navContainer{
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    background-color:#2F2F2F;
    
}

header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    position:relative;
    width:200px;
    margin-left: 40px;
    margin-top: 5px;
    display: flex;
}

.navBar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.navBar li a {
    float: left;
    display: flex;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
    color: #D0D0D0;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

/* Change the color of links on hover */
.navBar li a.active{
    color:#6fe4b7;
    
}

.navBar li a:hover:not(.active){
    color:#EAEAEA;
    scale: 105%;
}

.searchBox input {
    border-style: solid;
    background-color: #1E1E1E;
    margin: 5px;
    padding: 5px;
    color: #D0D0D0;
    border-color: #D0D0D0;
    border-radius: 8px;
}

::placeholder {
    font-family: 'Jura', sans-serif;
    padding: 20px;
}

.topButton {
    gap:24px;
    margin-right: 5%;
    display: flex;
}

.BtnSignup {
    border-radius: 8px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #D0D0D0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #2F2F2F;
}

.BtnLogin {
    border-radius: 8px;
    border-color: #22857B;
    border-style: solid;
    border-width: 2px;
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #D0D0D0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.5s;
    cursor: pointer;
    border-color: #22857B;
    background-color: #22857B;
}

.topButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;

}

.topButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}
 
.topButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.BtnSignup:hover {
    background-color: #4c9c7e;
}

.BtnLogin:hover{
    background-color: #4c9c7e;
}

/* Navigation bar ends here*/

.display{
    width:100%;
    height: 400px;
    background-size: cover;
}

.website-name {
    padding: 10px;
}

.website-name:hover {
    background-color: #4c9c7e;
    border-radius: 10px;
}

.title{
    color: #4c9c7e;
    position:relative;
    cursor:pointer;
    height:50px;
    width: auto;

}

.main-content{
    display: flex;
}
.intro{
    margin-top: 10%;
}

.left-section{
    margin-left: 5%;
}

.website-logo{
    margin-top:10%;
   
}

.left-section{
    display: grid;
    grid-template:
    "website-logo website-name " 
    "introduction . ."
    "website-status . ."
    "action .";
    grid-gap: 30px;
}
.about-us-body{
    display:flex;
}

.website-status{
    display: flex;
    margin-top: 3%;
}

.status-number{
    color:#22857B;

}

.action{
    display: flex;
}

.install-btn {
    border-radius: 8px;
    border-color: #22857B;
    border-style: solid;
    border-width: 2px;
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #D0D0D0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.5s;
    cursor: pointer;
    border-color: #22857B;
    background-color: #22857B;
    margin-top: 1%;
}

.install-btn:hover {
    background-color: #4c9c7e;
}

.install{
    display:flex;
}

.store-icon{
    display: flex;
    width: 50px;
    height:50px;
}

.store-icon a .microLogo {
    border-radius: 10px;
}

.store-icon:hover{
    background-color: #4c9c7e;
}
.about-us-img img {
    width: 100%;
    border-radius: 10px;
    margin-top: 20%;
}

.description{
    color:white;
}
.contentBx{
    width:50%;
    margin:10%;
}

.main-content{
    display: flex;
}

.about-us-img{
   margin-top: 10%;
   margin-left: 10%;
   margin-right: 5%;
}

/*contact section start here*/

hr{

  width:70%;
  height:10px;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  background-color:#22857B;
  border: #22857B;
} 

.contact{
    display: flex;
    flex-direction: row;
}

.form{
    margin-top: 50px;
    margin-left: 60px;
    width:100%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

.inputBx{
    display: flex;
    flex-direction: column;
}

.infoInput {
    margin: 10px;
    padding: 15px;
    border-style: solid;
    background-color: #1E1E1E;
    color: #D0D0D0;
    border-color: #D0D0D0;
    border-radius: 8px;
    max-width: 330px;
}

.concernInput {
    margin: 10px;
    padding: 15px;
    border-style: solid;
    background-color: #1E1E1E;
    color: #D0D0D0;
    border-color: #D0D0D0;
    border-radius: 8px;
    max-width: 330px;
}

form::placeholder{
    margin-left: 5%;
    height:30px;
    width:50px;
    opacity:1;
}

.contact-text{
    color:white;
    font-size: 16px;
    margin-top: 5%;
}

.sumbitBtn{
    margin-top: 10%;
    font-size: 18px;
    border-radius: 8px;
    border-color: #22857B;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #D0D0D0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.5s;
    cursor: pointer;
    border-color: #22857B;
    background-color: #22857B;
}

.sumbitBtn:hover {
    background-color: #4c9c7e;
}

.community{
    margin-top: 40px;
    padding-right: 80px;
}

.community-title{
    color:#22857B;
}

.community a img{
    width:  500px;
    height: 350px;
    border-radius: 10px;
    margin-top: 15%;

}

.community-btn{
    margin-top: 12%;
    font-size: 18px;
    border-radius: 8px;
    border-color: #22857B;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #D0D0D0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.5s;
    cursor: pointer;
    border-color: #22857B;
    background-color: #22857B;
}

.community-btn:hover {
    background-color: #4c9c7e;
}


/* footer */
footer{
    overflow: hidden;
    font-family: 'Jura', sans-serif;
    color: #D0D0D0;
}

.footer-body{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    display: flex;
    margin-top: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer-logo a img{
    border-radius: 10px;
}

.info {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}