@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

*{
    font-family: 'Jura';
}

body,
html {
    height: 100%;
    margin: 0px;
    background-color: #1E1E1E;
}

.navContainer{
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    background-color:#2F2F2F;
    
}

header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    position:relative;
    width:200px;
    margin-left: 40px;
    margin-top: 5px;
}

.navBar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.navBar li a {
    float: left;
    display: flex;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
    color: #D0D0D0;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

/* Change the color of links on hover */
.navBar li a:hover{
    color:#EAEAEA;
    scale: 105%;
}

.searchBox input {
    border-style: solid;
    background-color: #1E1E1E;
    margin: 5px;
    padding: 5px;
    color: #D0D0D0;
    border-color: #D0D0D0;
    border-radius: 8px;
}

::placeholder {
    font-family: 'Jura', sans-serif;
    padding: 20px;
}

.topButton {
    gap:24px;
    margin-right: 5%;
    display: flex;
}

.BtnSignup {
    border-radius: 8px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #D0D0D0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #2F2F2F;
}

.BtnLogin {
    border-radius: 8px;
    border-color: #22857B;
    border-style: solid;
    border-width: 2px;
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #D0D0D0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.5s;
    cursor: pointer;
    border-color: #22857B;
    background-color: #22857B;
}

.topButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;

}

.topButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}
 
.topButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.BtnSignup:hover {
    background-color: #4c9c7e;
}

.BtnLogin:hover{
    background-color: #4c9c7e;
}

.btmButton{
  margin-top: 10%;
}

/* Navigation bar ends here */

.logInPage {
    width: 50%;
    border-radius: 10px;
}

.center {
    padding: 70px 0;
    text-align: center;
}

.white-box {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #1E1E1E;
    color: white; 
    margin:0;
}

h1 { 
    color: #22857B;
}

input {
    border: 0.8px;
    border-color: white;
    border-radius: 10px;
}

label {
    text-align: left !important; 
}

input[type=text], input[type=password] {
    width: 28%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
  }
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
  
#message p {
    padding: 10px 35px;
    font-size: 18px;
}
  

.valid {
    color: green;
}
  
.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}
  

.invalid {
    color: red;
}
  
.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

.a href{ 
    color: dodgerblue;
}

  
button {
    background-color: #D0D0D0;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
button:hover {
    opacity:1;
}
  

.signupbtn {
    float: center;
    width: 50%;
    border-radius: 10px;
}

