body,
html {
    height: 100%;
    margin: 0px;
    background-color: #152a27;
}

.container{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color:#386b66;
    
}

header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width:200px;
    height:10v;
    background: #386b66;
    color:beige;
    display:flex;
    align-items: center;
    padding:5px;
    line-height: 1.3rem;
   
}

.logo .topLogo{
    font-size: 50px;
}

.logo p{
    width: 100px;
    margin-left: 10px;
    font-size:20px;
    font-family: monospace;
}

ul.navBar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    
}



/* Style the links inside the navigation bar */
ul.navBar li a {
    float: left;
    display: flex;
    color: rgb(248, 245, 245);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight:600;
    left: 10%;
    align-items: center;
    justify-content: center;
}


/* Change the color of links on hover */
ul.navBar li a:hover {
    background-color: rgb(227, 196, 25);

}

.container input[type=text] {
    height:20px;
    border: 3px solid rgb(211, 149, 25);
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 5%;

  }

.topButton{
    gap:10px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.topBtn {
    width: 100px;
    border-radius: 10px;
    border: 4px double #cccccc;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    gap:10px;
}



.topBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}

.topBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.topBtn:hover {
    background-color: #b5c509;
}

 

  /* header ends here*/

 
  .display{
    width:100%;
    height:300px;
  }

  .salePreviewTitle{
    padding-top: 20px;
    background-color: #fffef4;
    font-size: 30px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:50px;
    line-height: 16px;
    align-items: center;
    justify-content: center;

  
  }
  .salePreviewWidgets{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inter -400;
    gap:35px;

  }