body,
html {
    height: 100%;
    margin: 0px;
    background-color: #152a27;
}

.container{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color:#386b66;
    
}

header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    position:relative;
    width:200px;
    background: #386b66;
    color:beige;
    display:flex;
    margin-left: 20px;
   
}

.logo p{
    width: 100px;
    margin-left: 10px;
    font-size:20px;
    font-family: monospace;
}

ul.navBar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    
}



/* Style the links inside the navigation bar */
ul.navBar li a {
    float: left;
    display: flex;
    color: rgb(248, 245, 245);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight:600;
    align-items: center;
    justify-content: center;
    
}


/* Change the color of links on hover */
ul.navBar li a.active{
    color:rgb(227, 196, 25);
}

ul.navBar li a:hover:not(.active){
    color:rgb(227, 196, 25);
}


.action .searchBox {
    height:20px;
    border: 3px solid rgb(211, 149, 25);
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 5%;
    padding:5px;
    
  }


.topButton{
    gap:15px;
    margin-right: 2%;
    display: flex;
}

.topBtn {
    width: 100px;
    border-radius: 8px;
    text-align: center;
    font-size: 13px;
    padding: 8px;
    transition: all 0.5s;
    cursor: pointer;
    
}



/* .topBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}
 */
/* .topBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
 */
.topBtn:hover {
    background-color: #b5c509;
}

.login{
    background-color:#142826;
    color:#fffef4;
    

}
 

  /* header ends here*/

 
  .display{
    width:100%;
    height:300px;
    background-size: cover;
  }

  .games{
    padding:0px;
    width:100%;

  }

  .games .salePreviewTitle{
    padding-top: 20px;
    background-color: #fffef4;
    font-size: 30px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:50px;
    line-height: 16px;
    justify-content: left;

  
  }
  .games .salePreview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    

  }

  .games .salePrevie .content{
    width:280pz;
    border-radius: 10px;
    margin:20px 40px;
    background:#dbd9b9;
  }

   .games .salePrevie .content img{
    width:100%;
    height:250px;
    object-fit: cover;
    

   }
  /* About us page */
  .about .contentBx{
    width:50%;
    margin:20%;

  }

.about .contentBx h2{
    font-size:3em;
    font-weight: 700;
    color:#fff;
}

.about .contentBx p{
    max-width: 600px;
    text-align: justify;
    color:#dbd9b9;
}